extend layout
block content
  each device in devices
    div.device
      h2= device.name
      img(src=device.icon.url,width=device.icon.width,height=device.icon.height)
      p= device.uuid
      each schedule in device.schedules
        div.schedules
          span.time= 'Wake up at ' + schedule.hour + ':' + schedule.minute + ' on '
          each day in schedule.dayOfWeek
            span.day= ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'][day] + ', '
      hr